/*Reset básico*/

*{

 margin:0;

 padding:0;

 box-sizing: border-box;
}

body {

font-family: Arial, sans-serif;

background-color:f4f4f4;

}

head {
background:#30b6c5;

color:fff;

padding:10 px 0;  

}

.container {

width:80%;

margin:0 auto;

overflow:hidden;

}

.logo {
    float:left;

    width: 150px;

}

nav {
    float:right;

    margin: top 10px;

}

nav ul {
    list-style:none;
}

nav ul li{

    display: inline;

    margin: left 10px;

}

nav ul li a {
    color:#fff;

    text-decoration:none;

    padding: 5px 10px;

}

nav ul li a:hover {
    background:#30b6c5;

    border: radius 5px;

}

.about {
    padding: 40px 0;

    background:#fff;

    text-align:center;

}

.about img {
    max-width:100%;

    height:auto;

    border-radius:5px;

}

footer{
    background:#30b6c5;

    color:#fff;

    text-align:center;
    
    padding: 10px 0;
}